@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700,900&display=swap');

:root{
--top: #4B5740;
--bottom: rgb(226, 225, 196);
--light: #EBDFB8;
--feature: #BF512F;
--text: #212227;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-family: "Muli";
    font-size: 1.8rem;
    color: rgb(54, 54, 54);
    font-weight: 300;
    color: var(--text);
}

.container{
    height: 100vh;
}

.top{
    height: 25vh;
    background:var(--top);
    display: flex;
    justify-content:center;
    align-items:center;
}
.top h1{
    display: inline;
    color: white;
}
.top h1:first-child{
    font-weight: 200;

    margin-right: -10px;
}
.top h1:nth-child(2){
    font-weight: 900;
   
}

button{
    display: block;
    padding: 1rem 3rem;
    border: none;
    background: var(--feature);
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 30px;
    cursor:pointer; 
    outline: none;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.bottom{
    display:flex;
    align-items: start;
    min-height: 75vh;
    background: var(--light);  
 
   
}

.sect{
    display:flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.5;
    padding: 4rem;
    min-height: 75vh;
    height: 100%;   
   

}
.section-1{
    flex: 4;
   

}
.section-2{
    flex: 4;

}
.section-3{
    flex: 5;
  
  
   
}
.section-3 p{
    opacity: .7;
}
.sect h1{
   color: var(--text);
   font-size: 2.2rem;
   font-weight: 900;
}
.ingredients{
    list-style-type: none;
    width: 100%;
}

@media(max-width: 800px){
    .container{
        min-height: 100vh;
    }

    .bottom{
        flex-flow: column;
        /* min-height: 200vh; */
        text-align: left;
    }
    .sect:not(:last-child){
        overflow: initial;
        border-right: none;
    }
    .sect{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .sect h1{
        font-size: 2rem;
        text-align: center;
    }

    li{
        padding: .5rem;
    }
} 

#card{
    height: 400px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,.1);
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    animation: fadeIn 1s;  
}
.section-3-container{
    animation: fadeIn 1s ;
    
}

ul li, ul h1{
    animation: fadeIn 1s ;
}




@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }




.card__thumbnail{
  
    border-radius: 0 0 10px 10px;
   height: 80%;
    width: 100%;
    position: relative;
    
}

.card__title-container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--top);
    color: white;
    border-radius: 10px 10px 0 0;
}
.card__title-container h1{
  color: white;
}
.area-tag{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--feature);
    padding: 1.3rem 4rem;
    color: white;
    font-weight: bold;
   
    letter-spacing: 1px
}

li{
    width: 100%;
    display:flex;
    font-weight: bold;


}

.section-2 span{
 font-weight: 200;
 opacity: .6;
 padding-left: .4rem;
}